{% extends 'base.html.twig' %}

{% block body %}
    <h2>Créer un ticket support</h2>

    <form action="{{ path('contact_new') }}" method="post">

        <input type="hidden" name="token" value="{{ csrf_token("form_contact") }}">

        <div class="form-group">
            <label for="">Nom</label>
            <input type="text" class="form-control" name="first_name" placeholder="Entrez votre nom...">
        </div>

        <div class="form-group">
            <label for="">Prénom</label>
            <input type="text" class="form-control" name="last_name" placeholder="Entrez votre prénom...">
        </div>

        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" name="email" placeholder="Entrez votre email...">
        </div>

        <div class="form-group">
            <label for="">Votre message</label>
            <textarea class="form-control" name="message" rows="5"></textarea>
        </div>

        <button class="btn btn-primary float-right">Envoyer</button>

    </form>
{% endblock %}